<html>
<head>
    <title>hate test</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>
<body>
    <h1>hate test</h1>
    <main class=""container">
        <form action="http://localhost:8000/prediction" method="POST">
            <p><input type="text" placeholder="문장을 입력하세요" name='hate 여부'/></p>
            <p><input type="submit" value="저장"" /></p>
        </form>
    </main>
</body>
    
</html>
<!--
<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>PyScript Hello World</title>


    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>

<body>
    Enter the sentence
    <main class="container">
        <div>
            <input 
                type="number"
                id="user_input"
                min="1"
                max="50"
                placeholder="Enter the string" />
            <button id="add_todo">Check</button>
        </div>
        <h1 id="result"></h1>
    </main>

</body>

</html>
-->
